@color1:#eed;
.button1 (@color:grey; @dark:30%; @thick:5px; @radius:5px; ) {
    background-color: @color;
    border: @thick solid darken(@color, @dark);
    border-radius: @radius;
}

.logo-1 {
    display:none;
}
.flash-wrap img {
    max-width:100%;
}


.site-logo-text {
    float:left;
    &-icon {
        padding-right:.3em;
    }
    & a, a:visited, a:hover {
        text-decoration: none;
        font-size: 2.2em;
        padding:0;
        margin:0;
        padding-right: 1em;
        color:#900;
    }
}

.navbar2 {
    float:left;
    & li {
        & a {
            .button1(@color1;5%;3px;5px);
            //box-shadow: .2em .2em .2em black;
            margin: .3em;
            padding: .2em;
            &:hover {
                background-color: darken(@color1, 3%);
                text-decoration: none;
            }
        }
    }
}
